$BgColor: #eee;
$AccentColor: #2c65b0;
$textcolor: #0c0c0c;
$primaryFont: "Roboto", sans-serif;
$Padding: 1ex;

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $AccentColor;
  color: $textcolor;
  font-family: $primaryFont;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.5;
}

section {
  padding: 2rem;
  background-color: $BgColor;
  box-shadow: 0 5px 30px 5px #00000026;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: $primaryFont;
  color: $textcolor;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: $BgColor;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

/* HLAVICKA */
.hlavicka {
  padding: 1rem;
  color: $BgColor;
  text-align: center;
}

.title_photo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: $primaryFont;
  font-size: 1.5rem;
}

/* KONTAKT*/
.contact {
  background-color: $BgColor;
  color: $textcolor;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
  &__title {
    color: $AccentColor;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
  }
}

/* PATICKA */
footer p {
  color: $BgColor;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .title_photo {
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 3%;
  }
  .contact {
    max-width: 1200px;
    margin: 1rem auto;
  }
}
